<a href="https://colab.research.google.com/github/tejask666/Tejas_INFO5731_Spring2020/blob/master/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise**

(1) Write a Python program to calculate the length of a string.

In [0]:
# write your answer here
a = input('Enter the string ')
print(len(a))

Enter the string hello world how are you guys
28

(2) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [0]:
# write your answer here
X = input("Enter the string")
dict ={}
for element in X:
    if element in dict.keys():
     dict[element] = dict[element] + 1
    else:
     dict[element] = 1
print(dict)

Enter the stringheellloooowwwww
{'h': 1, 'e': 2, 'l': 3, 'o': 4, 'w': 5}

(3) Write a Python program to sum all the items in a list

In [0]:
# write your answer here
Sentence = [10,10,70,90]
Addition = sum(Sentence)
print(Addition)

180

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. 

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [0]:
# write your answer here
X = input("Enter the string")
dict = []
Y = X[0]
for element in X:
    if element in dict:
        if element == Y:
            dict.append('$')
        else:
            dict.append(element)
    else:
        dict.append(element)
dict[0] = Y
z = ''.join(dict)
print(z)

Enter the stringrestart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$

In [0]:
# write your answer here
pi = 3.14
a= input('Enter the value of a:')
b= input('Enter the value of b:')
S= pi*(1+int(a)/int(b)) **3 
print(S)

Enter the value of a:1200
Enter the value of b:4
85630629.14

(6) Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [0]:
# write your answer here
dic1 =  {1:10,2:20}
dic2 =  {3:30,4:40,5:50,6:60}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)

print('New dictionary:',dic1)

New dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple.

In [0]:
# write your answer here

X = input('Enter the Elements')
str1 = X
Z=str1.split(' ')

print(Z)
Y= input('Enter the element which you want to search from tuple:' )

if Y in Z:
  print('Element is present')
else:
  print('Element is not present')

Enter the Elementstejas puru manthan cat dog
['tejas', 'puru', 'manthan', 'cat', 'dog']
Enter the element which you want to search from tuple:cat
Element is present

(8) Write a Python program to find maximum and the minimum value in a set.

In [0]:
# write your answer here
Sentence = {1,4,5,8,9,10,20}
Maximum = max(Sentence)
print('Maximum number is :',Maximum)
Minimum = min(Sentence)
print('Minimum number is :' ,Minimum)

Maximum number is : 20
Minimum number is : 1

(9) Write a Python program to randomly divide the students in this class into four groups for term projects. Here is the students list:

studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216',
                'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080',
                'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']

In [0]:
# write your answer here
import random
group1 = []
Z = []
i = 0
people = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
Z= random.sample(range(0,25),24)
while i <24: 
 if i<6 :
   n = Z[i]
   group1.append(people[n])
 if i >5 and i<12 :
    n = Z[i]
    group1.append(people[n])
 if i > 11 and i<18 :
    n = Z[i]
    group1.append(people[n])
 if i >17 and i<24 :
    n = Z[i]
    group1.append(people[n])
 i = i + 1 

i = 0
print("Group1-----------------------")
while i<6:
  print (group1[i])
  i+=1
print("Group2-----------------------")
while i>5 and i<12:
  print (group1[i])
  i+=1
print("Group3-----------------------")
while i>11 and i<18:
  print (group1[i])
  i+=1
print("Group4-----------------------")
while i>17 and i<24:
  print (group1[i])
  i+=1

Group1-----------------------
am1823
tbl0041
pk0292
an0521
ak0860
ag1121
Group2-----------------------
lg0426
al0787
vk0216
mk0830
pb0283
hn0139
Group3-----------------------
laa0240
sa0753
vcd0017
mj0396
ap0975
vmb0067
Group4-----------------------
sm1515
nk0327
vk0222
dp1080
lba0043
km0738